.footer {
  background-color: #131313;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  
}

.footer h2, .footer h3 {
  color: #1561F0;
}

.footer-logo p,
.footer-contacto p,
.footer-links ul li a {
  color: #86868B;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #2B2B2B;
  padding-top: 15px;
  color: #86868B;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.link-item{
  text-decoration: none;
  color: #86868B;
}

/* Transition para el nombre de la tienda */
/* Logo */
span{
  font-size: 1.5rem; 
  font-weight: bold; 
  color: transparent; /* Hacemos el texto transparente para mostrar solo el fondo */
  background: linear-gradient(to right, #4982e6 50%, #9cbcf3 50%); /* Degradado para crear el efecto de cambio de color */
  background-size: 200% 100%; /* Doble ancho para permitir el desplazamiento del fondo */
  background-position: right bottom; /* Posición inicial del fondo hacia la derecha */  
  -webkit-background-clip: text; /* Aplica el fondo solo al texto */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Oculta el color del texto base */
  text-decoration: none; /* Sin subrayado predeterminado */
  position: relative; /* Necesario para posicionar el subrayado animado */  
  transition: background-position 0.5s ease; /* Transición suave del fondo */
}

span::after {
  content: ''; /* Se genera un pseudo-elemento para la línea */
  position: absolute; /* Posición absoluta respecto al enlace */
  bottom: -4px; /* Distancia debajo del texto */
  left: 0; /* Inicia desde la izquierda */
  width: 0%; /* Ancho inicial (no visible) */
  height: 2px; /* Grosor del subrayado */
  background-color: #1561F0; /* Color de la línea */
  transition: width 0.5s ease; /* Transición suave del ancho */
}

span:hover {
  background-position: left bottom; /* Mueve el fondo hacia la izquierda (efecto wipe en texto) */
}

span:hover::after {
  width: 100%; /* Expande el subrayado al 100% en hover */
}
